### General ###
HELP.md
.metadata/

### Maven build output ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Maven Wrapper (exclude completely) ###
.mvn/
mvnw
mvnw.cmd

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build directories (general) ###
build/
!**/src/main/**/build/
!**/src/test/**/build/